@model Crud.ViewModel.CrudViewModel

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>

@* @using (Html.BeginForm("Criar", "Crud", FormMethod.Post, new { @class = "form", name = "FormAlunoCriar", id = "FormAlunoCriar" })) *@
@* { *@
    <div>
        <div>
            @Html.LabelFor(m => m.Cpf)
            @Html.TextBoxFor(m => m.Cpf)
        </div>
        <div>
            @Html.LabelFor(m => m.Senha)
            @Html.TextBoxFor(m => m.Senha)
        </div>
        <button type="button" class="btn btn-primary">Cadastrar</button>
    </div>
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>